body{
    align-items: center;
    text-align: center;
    background-image: url(img/licensing-interactive-streams.jpg);
    width: 100%;
		height: 300px;
        background-size: cover;
		background-repeat: no-repeat;
        background-attachment: fixed;
        overflow:x hidden;
}
#back{
    font-size: 45px;
    font-family: b titr;
    margin-top: 20px;
    color: #f90000;
    text-decoration: none;
}